@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,500&family=Open+Sans:wght@300;400;600;700&display=swap');

.payment-form{
  &__header{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 3.2rem;
    color: #000000;

    @media screen and (min-width: 768px){
      margin: 0 0 5.2rem;
    }
  }

  &__total-price{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 4rem;
    color: #000000;
  }

  &__payment-method-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    @media screen and (min-width: 768px){
      justify-content: flex-start;
    }
  }

  &__payment-method-option{
    margin-right: 4.5rem;

    &_other{
      display: none;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      padding: 10px 15px;
      text-transform: uppercase;
      background: darkgray;
      color: #000000;
      border: 1px solid blue;
      border-radius: 3px;
      @media screen and (min-width: 768px){
        display: block;
      } 
    }
  }

  &__label{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    display: block;
    margin-top: 5.5rem;

    @media screen and (min-width: 768px){
      margin-top: 4rem;
    }
    
    &_cvc{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media screen and (min-width: 768px){
        align-items: baseline;
        justify-content: flex-start;
      }
    }
  }

  &__input{
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    margin: 2rem 0 0;

    &_expiry-date{
      width: 5rem;
      outline: none;
      background-color: transparent;
    }

    &_cvv{
      width: 7rem;
    }

    &_cardNumber{
      @media screen and (min-width: 768px){
        width: 16rem;
      }
    }

    &_cardType{
      width: 0;
      height: 0;
      opacity: 0;
    }

    &_cardHolder{
      @media screen and (min-width: 768px){
        width: 35rem;
      }
    }

    @media screen and (min-width: 768px){
      display: inline-block;
      margin-left: 2rem;
    }

  }


  &__input::placeholder{
    color: transparent;
  }

  &__what-is-cvc{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #5A4EEA;

    @media screen and (min-width: 768px){
       margin-left: 5.6rem;
    }
  }

  &__swal-popup{
    width: 300px !important;
    height: 200px !important;

    @media screen and (min-width: 768px){
    width: 550px !important;
    height: 350px !important;
    }
  }

  &__swal-title{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;

    @media screen and (min-width: 768px){
      font-size: 24px !important;
      font-weight: 600 !important;
    }
  }

  &__swal-text{

    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px !important;
    color: #545454 !important;
    @media screen and (min-width: 768px){
      font-size: 16px !important;
      font-weight: 400 !important;
    }
  }

  &__swal-button{
    width: 80px !important;
    height: 35px !important;
    background-color: rgb(18, 246, 75) !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;


    @media screen and (min-width: 768px){
      width: 110px !important;
      height: 40px !important;
    }
  }
}

.swal2-popup {
  font-size: 1rem !important;

  @media screen and (min-width: 768px){
    font-size: 2rem !important;
    
  }
}
