$main-color: #fff;
$main-background: #000000;
$light-color: #E5E5E5;;

.button {
  display: block; // это под вопросом, может лучше задать
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  outline: none;

 &_light {
   background-color: $light-color;
   border: 2px solid  $main-background;
   color: $main-background;
 }

  &_black {
    background-color: $main-background;
    border: 2px solid  $main-background;
    color: $main-color;
  }
}

.button:hover{
  font-weight: 700;
}

.size {
  &_269_57 {
    width: 26.9rem;
    height: 5.7rem;
  }
  &_263_57 {
    width: 26.3rem;
    height: 5.7rem;
  }
  &_263_46 {
    width: 26.3rem;
    height: 4.6rem;
  }
  &_57_57 {
    width: 5.7rem;
    height: 5.7rem;
  }
}

.fz {
  &_24 {
    font-size: 2.4rem;
  }
  &_18 {
    font-size: 1.8rem;
  }
  &_14 {
    font-size: 1.4rem;
  } 
}

.mr {

  &_r_auto{
    margin: 0 auto 0 0;
  }
   &_t_55 {
     margin-top: 5.5rem;
    
     @media screen and (min-width: 768px){
       margin-top: 11rem;
    }
  }
    &_t_85{
     margin-top: 8.5rem;

     @media screen and (min-width: 768px){
       margin-top: 11rem;
      }
    }
}
