@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,500&family=Open+Sans:wght@300;400;600;700&display=swap');

.payment-form{

  &__header{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 32px;
    color: #000000;

    @media screen and (min-width: 768px){
      margin: 0 0 52px;
    }
  }

  &__total-price{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 40px;
    color: #000000;
  }

  &__payment-method-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @media screen and (min-width: 768px){
      justify-content: flex-start;
    }
  }

  &__payment-method-option{
    margin-right: 45px;
  }

  &__label{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    display: block;
    margin-top: 55px;

    @media screen and (min-width: 768px){
      margin-top: 40px;
    }
    
    &_cvc{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      @media screen and (min-width: 768px){
        align-items: baseline;
        justify-content: flex-start;
      }
    }
  }

  &__input{
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    margin: 20px 0 0;

    &_expiry-date{
      width: 100px;
    }

    &_cvv{
      width: 70px;
    }

    &_cardNumber{
      @media screen and (min-width: 768px){
        width: 160px;
      }
    }

    &_cardHolder{
      @media screen and (min-width: 768px){
        width: 350px;
      }
    }

    @media screen and (min-width: 768px){
      display: inline-block;
      margin-left: 20px;
    }

  }


  &__input::placeholder{
    color: transparent;
  }

  &__what-is-cvc{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #5A4EEA;

    @media screen and (min-width: 768px){
       margin-left: 56px;
    }
  }

}
