
html {
  font-size: 10px;
}
.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  max-width: 102rem;
}
.page-wrap {
  display: flex;
  justify-content: center;
}

.header {  //temporary in the category page
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 1.5rem;
}

.sidebar {
  border: 1px solid #847A7A;
  @media screen and (min-width: 320px) and (max-width: 600px) {
    display: none;
  }
  @media screen and (min-width: 601px) {
    display: block;
    padding: 10px;
    width: 30%;
  }
}

.button{
  margin: 0 auto;
}

.payment-form{
  background: #f8f4f4;
  width: 32rem;
  padding: 1.5rem 5rem 3rem 1.5rem;
  margin: 2.5rem auto 0;
  box-sizing: border-box;
  @media screen and (min-width: 768px){
    width: 65rem;
    padding: 5rem 6.5rem 11rem;
  }
}

.form-wrapper{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.welcoming-form-wrapper{
  display: flex;
  background-color: black;
  color: white;
  padding: 6rem 4rem;
  height: 100vh;
  box-sizing: border-box;
}
