@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Odor+Mean+Chey&family=Open+Sans&family=Sofia&display=swap');
@import "App";
@import "../components/details/Button/Button";
@import "src/components/ProductsList/ProductsList";
@import "src/components/ProductCards/CardConstructor";
@import "src/components/ProductCards/CartCard/CartCard";
@import "src/components/Cart/Cart";
@import '../components/EnteringForm/EnteringForm';
@import '../components/PaymentForm/PaymentForm';
@import '../components/Account/Account';
@import '../components/ProfileForm/ProfileForm';
@import '../components/QuickOrderForm/QuickOrderForm';
@import "../pages/CategoryPage/CategoryPage";
@import "../components/ProductCards/DetailCard/DetailCard";
@import "../components/Pagination/pagination";



body {
  margin: 0;
  font-family:
      'Open Sans', sans-serif,
      'Josefin Sans', sans-serif,
      'Odor Mean Chey', cursive,
      'Sofia', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
